# Archivos de compilación y dependencias
**/bin/
**/obj/
**/packages/
*.user
*.suo

# Configuración de IDE
.vscode/
.idea/

# Archivos de log
*.log

# Archivos temporales del sistema operativo
.DS_Store
Thumbs.db

# Configuración sensible
appsettings*.json
ECO.Api.EnvioCorreos/.vs/ECO.Api.EnvioCorreos/DesignTimeBuild/.dtbcache.v2
ECO.Api.EnvioCorreos/.vs/ECO.Api.EnvioCorreos/FileContentIndex/2f846c31-934d-4560-9b00-01e7e6908959.vsidx
ECO.Api.EnvioCorreos/.vs/ECO.Api.EnvioCorreos/v18/.futdcache.v2
ECO.Api.EnvioCorreos/.vs/ECO.Api.EnvioCorreos/v18/DocumentLayout.backup.json
ECO.Api.EnvioCorreos/.vs/ECO.Api.EnvioCorreos/v18/DocumentLayout.json
ECO.Api.EnvioCorreos/.vs/ProjectEvaluation/eco.api.enviocorreos.metadata.v10.bin
ECO.Api.EnvioCorreos/.vs/ProjectEvaluation/eco.api.enviocorreos.projects.v10.bin
ECO.Api.EnvioCorreos/.vs/ProjectEvaluation/eco.api.enviocorreos.strings.v10.bin
